<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="mainn">

    <ion-button expand="block" (click)= "tirarFoto()" class="jkldssadjklsadjkl"> 
      <ion-icon icon="camera"></ion-icon> Capturar tela 
    
      <ion-card [hidden] = "!foto">
        <img src = "{{foto}}"/>
      </ion-card>
    
    </ion-button>

  </div>
</ion-content>
